Repository JakeRoggenbuck/auto-clock-speed, pull requests merged in 2022-02, with the labels that each got.

#194 Remove Detailed Usage
  README.md
Labels: documentation

#214 Remove weird syntax highlight
  README.md
Labels: documentation

#209 Use Settings struct instead of many unnamed bools
  src/daemon.rs
  src/main.rs
  src/settings.rs
Labels: optimization

#210 Sort by cpu number
  src/cpu.rs
  src/system.rs
Labels: bug

#208 Add the most basic show config
  Cargo.lock
  src/config.rs
  src/display.rs
  src/main.rs
Labels: enhancement
