Repository JakeRoggenbuck/auto-clock-speed, pull requests merged in 2022-01, with the labels that each got.

#118 Redo daemon logic
  src/daemon.rs
Labels: Needs laptop test

#115 Add backup paths for system info
  src/power.rs
Labels: Needs laptop test

#130 Turbo Animation
  Cargo.lock
  src/daemon.rs
  src/display.rs
Labels: enhancement

#134 Turbo Animation
  Cargo.lock
  Cargo.toml
  src/daemon.rs
  src/display.rs
Labels: enhancement

#172 Optimize imports
  src/config.rs
  src/cpu.rs
  src/daemon.rs
  src/display.rs
  src/error.rs
  src/graph.rs
  src/local.rs
  src/logger.rs
  src/main.rs
  src/power.rs
  src/system.rs
Labels: documentation
