Repository JakeRoggenbuck/auto-clock-speed, pull requests merged in 2022-06, with the labels that each got.

#301 New graphing modes for --graph
  src/daemon.rs
  src/display.rs
  src/graph.rs
  src/interactive.rs
  src/interface.rs
  src/main.rs
  src/settings.rs
  src/system.rs
Labels: Needs laptop test

#316 Activated rules config values
  acs.toml
  src/config.rs
  src/daemon.rs
Labels: Needs laptop test

#335 Media updates
  README.md
  assets/screenshots/2022-06-14_06-35.png
Labels: WIP (Do Not Merge), Waiting On Another PR

#342 AscII Graphics
  src/main.rs
Labels: enhancement

#350 Battery Condition
  src/daemon.rs
  src/display.rs
  src/interactive.rs
  src/interface.rs
  src/main.rs
  src/system.rs
Labels: enhancement, Needs laptop test

#360 Hot fix
  src/system.rs
Labels: bug
