Repository JakeRoggenbuck/auto-clock-speed, pull requests merged in 2022-11, with the labels that each got.

#456 Add more documentation to the daemon.rs file
  src/daemon.rs
Labels: documentation

#458 Add list of tested devices
  README.md
Labels: documentation, WIP (Do Not Merge)

#464 upgrade rust edition
  Cargo.toml
Labels: Needs laptop test, dependencies

#484 Daemon log hook
  Cargo.lock
  Cargo.toml
  src/logger.rs
  src/network.rs
  src/network/listen.rs
Labels: WIP (Do Not Merge)
